<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Welcome to job search</h1>
    <h2>Available Jobs</h2>

    <ul></ul>
        <% jobs.forEach(job => { %>
            <li><strong>Type:</strong> <%= job.jobType %>, <strong>Text:</strong> <%= job.jobText %></li>
        <% }); %>
    </ul>
    <a href="/post-job">Post a New Job</a>
    
</body>
</html>