<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <form action="/jobs" method="post">
        <label for="jobType">Type of Job</label>
        <input type="text" id="jobType" name="type" required>

        <label for="jobText">Enter job description</label>
        <input type="text" id="JobText" name="text" required>

        <button type="submit">submit</button>
    </form>
    <a href="/">Go back</a>
</body>

</html>